<%- include ('../partials/header') %>
    <title>Add a product</title>
</head>
<body>
    <%- include ('../partials/nav') %>
    <h1>Add a new product</h1>
    <form action="/admin/addProduct" method="post">
        <input type="text" name="title" id="title" placeholder="Title">
        <input type="text" name="imageUrl" id="imageUrl" placeholder="Image">
        <input type="number" name="quantity" id="quantity" placeholder="Quantity" value="1">
        <input type="number" name="price" id="price" placeholder="Price" value="0">
        <textarea name="description" id="description" cols="30" rows="5"></textarea>
        <input type="submit" class="btn btn-danger">
    </form>
<%- include ('../partials/footer') %>