		    <!-- Start Footer Style One
    ============================================= -->
    <footer class="bg-theme text-light">
        <div class="container">
    <div class="f-items default-padding">
        <div class="row">
                                <div class="col-lg-4 col-md-6 item">
                <div class="f-item widget_block">
<div class="wp-block-group f-item about"><div class="wp-block-group__inner-container">
<figure class="wp-block-image size-full is-resized"><img src="wp-content/uploads/2022/04/logo-light.svg" alt="" class="wp-image-2389" width="200"/></figure>



<p>Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address.</p>


<script>(function() {
window.mc4wp = window.mc4wp || {
listeners: [],
forms: {
    on: function(evt, cb) {
        window.mc4wp.listeners.push(
            {
                event   : evt,
                callback: cb
            }
        );
    }
}
}
})();
</script><!-- Mailchimp for WordPress v4.8.7 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-361" method="post" data-id="361" data-name="cleanu subscribe" ><div class="mc4wp-form-fields"><input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
<span class="input-group-addon"><button type="submit"><i class="arrow_right"></i></button></span></div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1653933224" /><input type="hidden" name="_mc4wp_form_id" value="361" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div></form><!-- / Mailchimp for WordPress Plugin --></div></div>
</div>                    </div>    
                                                        <div class="col-lg-2 col-md-6 item">
                    <div class="f-item widget_nav_menu"><h4 class="widget-title">Quick Link</h4><div class="menu-quick-links-container"><ul id="menu-quick-links" class="menu"><li id="menu-item-1711" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1711"><a href="/projects">Projects</a></li>
<li id="menu-item-1712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1712"><a href="/contact-us">Contact Us</a></li>
<li id="menu-item-1713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1713"><a href="/team">Team</a></li>
<li id="menu-item-2379" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2379"><a href="/about-us">Compnay History</a></li>
<li id="menu-item-2380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2380"><a href="/about-us">Features</a></li>
</ul></div></div>                        </div>
                                                        <div class="col-lg-3 col-md-6 item">
                    <div class="f-item widget_nav_menu"><h4 class="widget-title">Services</h4><div class="menu-services-menu-container"><ul id="menu-services-menu" class="menu"><li id="menu-item-1702" class="current-item menu-item menu-item-type-custom menu-item-object-custom menu-item-1702"><a href="/service/details">House Cleaning</a></li>
<li id="menu-item-1701" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1701"><a href="/service/details">Kitchen Cleaning</a></li>
<li id="menu-item-1703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1703"><a href="/service/details">Window Cleaning</a></li>
<li id="menu-item-1704" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1704"><a href="/service/details">Office Cleaning</a></li>
<li id="menu-item-2382" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2382"><a href="/service/details">Carpet Cleaning</a></li>
</ul></div></div>                        </div>
                                                        <div class="col-lg-3 col-md-6 item">
                    <div class="f-item widget_block">
<div class="wp-block-group f-item contact-widget"><div class="wp-block-group__inner-container">
<h4 class="widget-title">Contact Info</h4>



<div class="address">
                        <ul>
                            <li>
                                5919 Trussville Crossings Pkwy, new Dusting town, Austria
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-clock"></i>
                                </div>
                                <div class="content">
                                    <strong>Opening Hours:</strong>
                                    8:00 AM – 7:45 PM
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="content">
                                    <strong>Phone:</strong>
                                    <a href="tel:2151234567">+123 34598768</a>
                                </div>
                            </li>
                        </ul>
                    </div>
</div></div>
</div>                        </div>
                            </div>
    </div>
</div>
        <!-- Start Footer Bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="footer-bottom-box">
            <div class="row">
                <div class="col-lg-6">
                                                <p>© Copyright 2022. All Rights Reserved by <a href="https://themeforest.net/user/validthemes/portfolio">validthemes</a></p>
                                            </div>
                                            <div class="col-lg-6 text-right link">
                        <ul id="menu-copyright-menu" class="menu"><li id="menu-item-859" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-859"><a href="#">Terms</a></li>
<li id="menu-item-860" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-860"><a href="#">Privacy</a></li>
<li id="menu-item-861" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-861"><a href="#">Support</a></li>
</ul>                            </div>
                                    </div>
        </div>
    </div>
</div>
<!-- End Footer Bottom -->
        <!-- Fixed Shape -->
<div class="animate-right-left">
    <img src="wp-content/uploads/2022/04/2-1.png" alt="Cleanu">
</div>
<!-- End Fixed Shape -->
    </footer>   
        <!-- Start Footer Style Default -->    
        <footer class="bg-theme text-light">
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-box">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <p>© Copyright 2022. All Rights Reserved by validthemes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 
        <!-- End Footer Style Default --> 
<!-- End Footer Style One -->


<script>(function() {function maybePrefixUrlField() {
if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
this.value = "http://" + this.value;
}
}

var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
if (urlFields) {
for (var j=0; j < urlFields.length; j++) {
urlFields[j].addEventListener('blur', maybePrefixUrlField);
}
}
})();</script><link rel='stylesheet' id='e-animations-css'  href='wp-content/plugins/elementor/assets/lib/animations/animations.min5aed.css?ver=3.6.4' type='text/css' media='all' />
