<script type='text/javascript' src='../wp-includes/js/dist/vendor/regenerator-runtime.min3937.js?ver=0.13.9' id='regenerator-runtime-js'></script>
<script type='text/javascript' src='../wp-includes/js/dist/vendor/wp-polyfill.min2c7c.js?ver=3.15.0' id='wp-polyfill-js'></script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"https:\/\/themelocker.tech\/cleanu\/wp-json\/","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/contact-form-7/includes/js/index5406.js?ver=5.5.6' id='contact-form-7-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/popper.min7404.js?ver=5.9.3' id='popper-min-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/bootstrap.min7404.js?ver=5.9.3' id='bootstrap-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/jquery.appear7404.js?ver=5.9.3' id='jquery-appear-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/jquery.easing.min7404.js?ver=5.9.3' id='easing-min-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/jquery.magnific-popup.min7404.js?ver=5.9.3' id='jquery-magnific-popup-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/modernizr7404.js?ver=5.9.3' id='modernizr-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/progress-bar.min7404.js?ver=5.9.3' id='progress-bar-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/owl.carousel.min7404.js?ver=5.9.3' id='owl-carousel-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/wow.min7404.js?ver=5.9.3' id='wow-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/isotope.pkgd.min7404.js?ver=5.9.3' id='isotope-pkgd-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/imagesloaded.pkgd.min7404.js?ver=5.9.3' id='imagesloaded-pkgd-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/count-to7404.js?ver=5.9.3' id='count-to-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/jquery.nice-select.min7404.js?ver=5.9.3' id='nice-select-js-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/jquery.event.move7404.js?ver=5.9.3' id='jquery.event.move.js-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/jquery.twentytwenty7404.js?ver=5.9.3' id='jquery.twentytwenty.js-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/bootsnav7404.js?ver=5.9.3' id='bootsnav-js'></script>
<script type='text/javascript' src='../wp-content/themes/cleanu/assets/js/main7404.js?ver=5.9.3' id='cleanu-main-script-js'></script>
<script type='text/javascript' src='../wp-content/plugins/cleanu-core/assets/js/main7404.js?ver=5.9.3' id='mainjs-js'></script>
<script type='text/javascript' defer src='../wp-content/plugins/mailchimp-for-wp/assets/js/forms6c42.js?ver=4.8.7' id='mc4wp-forms-api-js'></script>
<script type='text/javascript' src='../wp-content/plugins/elementor/assets/js/webpack.runtime.min5aed.js?ver=3.6.4' id='elementor-webpack-runtime-js'></script>
<script type='text/javascript' src='../wp-content/plugins/elementor/assets/js/frontend-modules.min5aed.js?ver=3.6.4' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='../wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/core.min0028.js?ver=1.13.1' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='../wp-content/plugins/elementor/assets/lib/swiper/swiper.min48f5.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' src='../wp-content/plugins/elementor/assets/lib/share-link/share-link.min5aed.js?ver=3.6.4' id='share-link-js'></script>
<script type='text/javascript' src='../wp-content/plugins/elementor/assets/lib/dialog/dialog.mind227.js?ver=4.9.0' id='elementor-dialog-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"responsive":{"breakpoints":{"mobile":{"label":"Mobile","value":767,"default_value":767,"direction":"max","is_enabled":true},"mobile_extra":{"label":"Mobile Extra","value":880,"default_value":880,"direction":"max","is_enabled":false},"tablet":{"label":"Tablet","value":1024,"default_value":1024,"direction":"max","is_enabled":true},"tablet_extra":{"label":"Tablet Extra","value":1200,"default_value":1200,"direction":"max","is_enabled":false},"laptop":{"label":"Laptop","value":1366,"default_value":1366,"direction":"max","is_enabled":false},"widescreen":{"label":"Widescreen","value":2400,"default_value":2400,"direction":"min","is_enabled":false}}},"version":"3.6.4","is_static":false,"experimentalFeatures":[],"urls":{"assets":"https:\/\/themelocker.tech\/cleanu\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"active_breakpoints":["viewport_mobile","viewport_tablet"],"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":142,"title":"Home%20Two%20%E2%80%93%20Cleanu","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='../wp-content/plugins/elementor/assets/js/frontend.min5aed.js?ver=3.6.4' id='elementor-frontend-js'></script>
<script type='text/javascript' src='../wp-content/plugins/elementor/assets/js/preloaded-modules.min5aed.js?ver=3.6.4' id='preloaded-modules-js'></script>
</body>

<!-- Mirrored from themelocker.tech/cleanu/home-two/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Jun 2022 21:06:04 GMT -->
</html>
<!-- Page generated by LiteSpeed Cache 4.6 on 2022-05-30 17:54:07 -->