
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-sticky nav-full-width dark bootsnav">

            <div class="container-fill">

                <div class="row align-center">
                    

                    <!-- Start Header Navigation -->
                    <div class="col-lg-3 brand-item">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="/">
                                                                    <img src="../wp-content/uploads/2022/04/logo.svg" class="logo" alt="cleanu">
                                     
                            </a>
                        </div>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="col-lg-6">
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul data-in="#" data-out="#" class="nav navbar-nav" id="menu-primary-menu"><li id="menu-item-1341" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1341 dropdown"><a   title="Home" href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
<ul class=" dropdown-menu" >
	<li id="menu-item-145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-145"><a   title="Home One" href="/">Home One</a></li>
	<li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-142 current_page_item menu-item-144 active"><a   title="Home Two" href="/v2">Home Two</a></li>
	<li id="menu-item-2759" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2759"><a   title="Home Three" href="/v3">Home Three</a></li>
	<li id="menu-item-2789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2789"><a   title="Home Four&lt;span class=&quot;badge&quot;&gt;New&lt;/span&gt;" href="/v4">Home Four<span class="badge">New</span></a></li>
</ul>
</li>
<li id="menu-item-1342" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1342 dropdown"><a   title="Pages" href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
<ul class=" dropdown-menu" >
	<li id="menu-item-1345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1345"><a   title="About Us" href="/about-us">About Us</a></li>
	<li id="menu-item-1344" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1344"><a   title="Team" href="/team">Team</a></li>
	<li id="menu-item-1346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1346"><a   title="Team Single" href="/team/details">Team Single</a></li>
	<li id="menu-item-1343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1343"><a   title="Contact Us" href="/contact-us">Contact Us</a></li>
	<li id="menu-item-1624" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1624"><a   title="Error Page" href="/404">Error Page</a></li>
</ul>
</li>
<li id="menu-item-1360" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1360 dropdown"><a   title="Projects" href="#" class="dropdown-toggle" data-toggle="dropdown">Projects</a>
<ul class=" dropdown-menu" >
	<li id="menu-item-1362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1362"><a   title="Projects" href="/projects">Projects</a></li>
	<li id="menu-item-1361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1361"><a   title="Project Details" href="/project/details">Project Details</a></li>
</ul>
</li>
<li id="menu-item-1383" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1383 dropdown"><a   title="Services" href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
<ul class=" dropdown-menu" >
	<li id="menu-item-1382" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1382"><a   title="Service One" href="/service-one">Service One</a></li>
	<li id="menu-item-1381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1381"><a   title="Service Two" href="/service-two">Service Two</a></li>
	<li id="menu-item-1404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1404"><a   title="Service Details" href="/service/details">Service Details</a></li>
</ul>
</li>
<li id="menu-item-1625" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1625 dropdown"><a   title="Blog" href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
<ul class=" dropdown-menu" >
	<li id="menu-item-2271" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2271"><a   title="Main Blog" href="/blog">Main Blog</a></li>
	<li id="menu-item-1627" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1627"><a   title="Blog Single" href="/blog/single">Blog Single</a></li>
</ul>
</li>
<li id="menu-item-1373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1373"><a   title="Contact" href="/contact-us">Contact</a></li>
</ul>                        </div>
                    </div>
                    <!-- /.navbar-collapse -->

                    <!-- Start Atribute Navigation -->
                    <div class="col-lg-3">
                        <div class="attr-nav">
                            <div class="call">
                                <div class="icon">
                                                                            <img src="../wp-content/uploads/2022/03/phone-call.png" class="logo" alt="cleanu">
                                                                        </div>
                                <div class="info">
                                                                        <span>Have any question?</span>
                                                                                                            <h5>(012) 66795453</h5>
                                                                    </div>
                            </div>
                        </div> 
                    </div>       
                    <!-- End Atribute Navigation -->

                </div>

            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header Style Two -->
