<%- include ('partials/header') %>
<link rel='stylesheet' id='elementor-post-7-css'  href='wp-content/uploads/elementor/css/post-1309088d.css?ver=16527240' type='text/css' media='all' />

<body class="page-template page-template-page-template page-template-cleanu-templates page-template-page-templatecleanu-templates-php page page-id-1309 wp-embed-responsive elementor-default elementor-kit-5 elementor-page elementor-page-1309">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0.49803921568627" /><feFuncG type="table" tableValues="0 0.49803921568627" /><feFuncB type="table" tableValues="0 0.49803921568627" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 0.27843137254902" /><feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0" /><feFuncG type="table" tableValues="0 0.64705882352941" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.78039215686275 1" /><feFuncG type="table" tableValues="0 0.94901960784314" /><feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.44705882352941 0.4" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.098039215686275 1" /><feFuncG type="table" tableValues="0 0.66274509803922" /><feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
 
<%- include ('partials/nav3') %>

<!-- Start Breadcrumb
        ============================================= -->
        <div class="breadcrumb-area gradient-bg bg-cover shadow dark text-light text-center "  style="background-image: url(../wp-content/uploads/2022/03/7.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1>
                              About Us             
                        </h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li><li class="breadcrumb-item active"><a href="#">About Us</a></li>                        </ul>
                     </div>
                 </div>
             </div>
         </div>
        <!-- End Breadcrumb -->

     <div class="page-content">

            		<div data-elementor-type="wp-page" data-elementor-id="1309" class="elementor elementor-1309">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-076e961 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="076e961" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-54902fd" data-id="54902fd" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-e364496 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e364496" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-572bb9c" data-id="572bb9c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-ce83a4f elementor-widget elementor-widget-about_image" data-id="ce83a4f" data-element_type="widget" data-widget_type="about_image.default">
				<div class="elementor-widget-container">
				    <div class="about-style-one">
	        <div class="thumb">
	            <img src="../wp-content/uploads/2022/04/8.jpg" alt="Cleanu">
	            	            	<img src="../wp-content/uploads/2022/03/2-3.jpg" alt="Cleanu">
	                
	        </div>
	    </div>
    		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-27eb9b7" data-id="27eb9b7" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-38cc31a elementor-widget elementor-widget-about_content" data-id="38cc31a" data-element_type="widget" data-widget_type="about_content.default">
				<div class="elementor-widget-container">
			
    <div class="about-style-one info">
        <h2>We are committed to give<br>
our best services</h2>
        <blockquote>Local operations team on-call 24 hours a day, available to work at a moment’s notice.</blockquote>
<p>Friendly bachelor entrance to on by. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection.</p>        <div class="bottom-info">
        	                <div class="button">
                    <a data-animation="animated zoomInUp" class="btn btn-theme primary effect btn-md" href="/contact-us">Contact Us</a>
                </div>
        	            <div class="contact">
                <div class="content">
                    <span>Get Free Estimate</span>
                    <h5>+44-20-7328-4499</h5>
                </div>
            </div>
        </div>
    </div>
    		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-2502c90 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="2502c90" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-02e2f88" data-id="02e2f88" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-84e8534 elementor-widget elementor-widget-funfactor" data-id="84e8534" data-element_type="widget" data-widget_type="funfactor.default">
				<div class="elementor-widget-container">
				<!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-factor-area bg-theme text-light">
    	        <div class="container">
            <div class="fun-fact-items text-center default-padding">	
                <div class="row">
                	                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="1267" data-speed="5000">1267</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Orders</span>
                        </div>
                    </div>
                                        <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="846" data-speed="5000">846</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Trusted Clients</span>
                        </div>
                    </div>
                                        <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="36" data-speed="5000">36</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Years Of Experience</span>
                        </div>
                    </div>
                                    </div>
            </div>
        </div>
		
					<!-- Fixed BG -->
			<div class="fixed-bg" style="background-image: url(../wp-content/uploads/2022/04/29.png);"></div>
			<!-- Fixed BG -->
		
    </div>
    <!-- End Fun Factor Area -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-d77fed9 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="d77fed9" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3841222" data-id="3841222" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-44a4115 elementor-widget elementor-widget-workprocess" data-id="44a4115" data-element_type="widget" data-widget_type="workprocess.default">
				<div class="elementor-widget-container">
				<!-- Start Process Area
    ============================================= -->
    <div class="work-process-area text-center">
    	        <div class="container">
                        <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>WORK PROCESS</h4>
                    	                    	                        <h2>How it Works</h2>
                                                <div class="devider"></div>
                                            </div>
                </div>
            </div>
                    </div>
        <div class="container">
            <div class="process-items style-two">
            		                <!-- Shape -->
	                <div class="line-shape">
	                    <img src="../wp-content/themes/cleanu/assets/img/workprocess_2.png" alt="Cleanu">
	                </div>
	                <!-- End Shape -->
            	                <div class="row">
                	                    <!-- Single Item -->
                    <div class="process-style-one col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="../wp-content/uploads/2022/03/12.jpg" alt="Cleanu">
                                <span>01</span>
                            </div>
                            <h5>Book Online Form</h5>
                        </div>
                    </div>
                    <!-- End Single Item -->
                                        <!-- Single Item -->
                    <div class="process-style-one col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="../wp-content/uploads/2022/03/14.jpg" alt="Cleanu">
                                <span>02</span>
                            </div>
                            <h5>Get Relax</h5>
                        </div>
                    </div>
                    <!-- End Single Item -->
                                        <!-- Single Item -->
                    <div class="process-style-one col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="../wp-content/uploads/2022/03/13.jpg" alt="Cleanu">
                                <span>03</span>
                            </div>
                            <h5>Enjoy Cleaner</h5>
                        </div>
                    </div>
                    <!-- End Single Item -->
                                    </div>
            </div>
        </div>
    </div>
    <!-- End Process Area -->

			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-89851ec elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="89851ec" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b95d8c4" data-id="b95d8c4" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-eb57112 elementor-widget elementor-widget-team" data-id="eb57112" data-element_type="widget" data-widget_type="team.default">
				<div class="elementor-widget-container">
				 <!-- Start Team 
    ============================================= -->
    <div class="team-area">
    	        <div class="container">
                       <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>AWESOME TEAM</h4>
                    	                    	                        <h2>The best team to<br>
clean your surrounding area.</h2>
                                                <div class="devider"></div>
                                                <p>Our office cleaning division prides itself on delivering exceptionally high standards in all our cleaning contracts and we understand all our customer needs.</p>                        
                                            </div>
                </div>
            </div>
                    </div>
        <div class="container">
            <div class="team-style-one-box">
                <div class="row">
                    	                    <!-- Single Item -->
	                    <div class="col-lg-4 col-md-6 text-center team-style-one">
	                        <div class="item">
	                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/1-1.jpg" alt="Cleanu">
	                                <div class="social">
	                                    <input type="checkbox" id="toggle1" class="share-toggle" hidden>
	                                    <label for="toggle1" class="share-button">
	                                        <i class="fas fa-plus"></i>
	                                    </label>
	                                    		                                    <a href="http://www.facebook.com/" class="share-icon facebook">
		                                        <i class="fab fa-facebook-f"></i>
		                                    </a>
	                                		                                			                                    <a href="http://www.twitter.com/" class="share-icon twitter">
		                                        <i class="fab fa-twitter"></i>
		                                    </a>
	                                    	                                    		                                    <a href="http://www.instagram.com/" class="share-icon instagram">
		                                        <i class="fab fa-instagram"></i>
		                                    </a>
	                                    	                                    	                                    	                                    	                                </div>
	                                	                                <!-- Shape -->
	                                <div class="shape" style="background-image: url(../wp-content/themes/cleanu/assets/img/team_2.png);"></div>
	                                <!-- End Shape -->
	                            		                            </div>
	                            <div class="info">
	                                <h4><a href="../team-details/index.html">Anna Green</a></h4>
	                                <p>
	                                    House Cleaner	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End Single Item -->
                		                    <!-- Single Item -->
	                    <div class="col-lg-4 col-md-6 text-center team-style-one">
	                        <div class="item">
	                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/2.jpg" alt="Cleanu">
	                                <div class="social">
	                                    <input type="checkbox" id="toggle2" class="share-toggle" hidden>
	                                    <label for="toggle2" class="share-button">
	                                        <i class="fas fa-plus"></i>
	                                    </label>
	                                    		                                    <a href="http://www.facebook.com/" class="share-icon facebook">
		                                        <i class="fab fa-facebook-f"></i>
		                                    </a>
	                                		                                			                                    <a href="http://www.twitter.com/" class="share-icon twitter">
		                                        <i class="fab fa-twitter"></i>
		                                    </a>
	                                    	                                    		                                    <a href="http://www.instagram.com/" class="share-icon instagram">
		                                        <i class="fab fa-instagram"></i>
		                                    </a>
	                                    	                                    	                                    	                                    	                                </div>
	                                	                                <!-- Shape -->
	                                <div class="shape" style="background-image: url(../wp-content/themes/cleanu/assets/img/team_2.png);"></div>
	                                <!-- End Shape -->
	                            		                            </div>
	                            <div class="info">
	                                <h4><a href="../team-details/index.html">Thomas Pual</a></h4>
	                                <p>
	                                    Office Cleaner	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End Single Item -->
                		                    <!-- Single Item -->
	                    <div class="col-lg-4 col-md-6 text-center team-style-one">
	                        <div class="item">
	                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/3.jpg" alt="Cleanu">
	                                <div class="social">
	                                    <input type="checkbox" id="toggle3" class="share-toggle" hidden>
	                                    <label for="toggle3" class="share-button">
	                                        <i class="fas fa-plus"></i>
	                                    </label>
	                                    		                                    <a href="http://www.facebook.com/" class="share-icon facebook">
		                                        <i class="fab fa-facebook-f"></i>
		                                    </a>
	                                		                                			                                    <a href="http://www.twitter.com/" class="share-icon twitter">
		                                        <i class="fab fa-twitter"></i>
		                                    </a>
	                                    	                                    		                                    <a href="http://www.instagram.com/" class="share-icon instagram">
		                                        <i class="fab fa-instagram"></i>
		                                    </a>
	                                    	                                    	                                    	                                    	                                </div>
	                                	                                <!-- Shape -->
	                                <div class="shape" style="background-image: url(../wp-content/themes/cleanu/assets/img/team_2.png);"></div>
	                                <!-- End Shape -->
	                            		                            </div>
	                            <div class="info">
	                                <h4><a href="../team-details/index.html">Liana Rob</a></h4>
	                                <p>
	                                    Carpet Cleaner	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End Single Item -->
                	                </div>
            </div>
        </div>
    </div>
    <!-- End Team-->

			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>
		</div>

        
        <%- include ('partials/bottom') %>
        <%- include ('partials/footer') %>