<%- include ('../partials/header') %>
<title>Cleanu &#8211; Cleaning Services WordPress Theme</title>

<body class="page-template page-template-elementor_header_footer page page-id-2576 wp-embed-responsive elementor-default elementor-template-full-width elementor-kit-5 elementor-page elementor-page-2576">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0.49803921568627" /><feFuncG type="table" tableValues="0 0.49803921568627" /><feFuncB type="table" tableValues="0 0.49803921568627" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 0.27843137254902" /><feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0" /><feFuncG type="table" tableValues="0 0.64705882352941" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.78039215686275 1" /><feFuncG type="table" tableValues="0 0.94901960784314" /><feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.44705882352941 0.4" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.098039215686275 1" /><feFuncG type="table" tableValues="0 0.66274509803922" /><feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area inc-pad bg-theme text-light inc-shape">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-8 info">
                    <ul>
                                                    <li>
                                <i class="fas fa-envelope-open-text"></i> Info@gmail.com                             </li>
                                                                            <li>
                                <i class="fas fa-clock"></i> Working Hours: 8:00 AM – 7:45 PM                            </li>
                                            </ul>
                </div>
                <div class="col-lg-4 text-right item-flex">
                    <div class="social">
                        <ul>
                                                            <li>
                                    <a href="http://www.facebook.com/">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                                                                        <li>
                                    <a href="http://www.twitter.com/">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                                                                        <li>
                                    <a href="http://www.linkedin.com/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                                                                                                                                                                                </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->    
	<%- include ('../partials/nav3') %>

    		<div data-elementor-type="wp-page" data-elementor-id="2576" class="elementor elementor-2576">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-8fe782a elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="8fe782a" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-11e5cb3" data-id="11e5cb3" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-9fa187c elementor-widget elementor-widget-slider" data-id="9fa187c" data-element_type="widget" data-widget_type="slider.default">
				<div class="elementor-widget-container">
			
    <!-- Start Banner Style Three
    ============================================= -->
    <div class="banner-area bg-cover shadow theme-hard text-light text-multi-weight" style="background-image: url(../wp-content/uploads/2022/04/19.jpg);">
        
        <div class="banner-items">
            <div class="box-table">
                <div class="box-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="content">
                                    <h2 data-animation="animated slideInRight">Cleaning your
<span>worries away</span></h2>
                                    <p data-animation="animated slideInLeft">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eos, doloremque reiciendis sequi tempora odio nam                                    </p>
                                    	                                    <div class="video-button">
	                                        <a href="https://www.youtube.com/watch?v=d4Iip7BHXwg" class="popup-youtube video-btn theme"><i class="fal fa-play"></i>OUR STORY</a>
	                                    </div>
                                	                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="appinment-forms">
                                    <h2>Free Estimate</h2></h2>
                                    <p>
                                        Get a quick response within 24 hours</h2>
                                    </p>
                                    <div role="form" class="wpcf7" id="wpcf7-f2584-p2576-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="https://themelocker.tech/cleanu/home-three/#wpcf7-f2584-p2576-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="2584" />
<input type="hidden" name="_wpcf7_version" value="5.5.6" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2584-p2576-o1" />
<input type="hidden" name="_wpcf7_container_post" value="2576" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="row">
<div class="col-lg-12">
<div class="form-group">
            <span class="wpcf7-form-control-wrap text-423"><input type="text" name="text-423" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" id="name" aria-invalid="false" placeholder="Name" /></span>
        </div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="form-group">
            <span class="wpcf7-form-control-wrap email-520"><input type="email" name="email-520" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="email" aria-required="true" aria-invalid="false" placeholder="Email*" /></span>
        </div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="form-group">
            <span class="wpcf7-form-control-wrap text-423"><input type="text" name="text-423" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" id="phone" aria-invalid="false" placeholder="Phone" /></span>
        </div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="form-group">
            <span class="wpcf7-form-control-wrap menu-214"><select name="menu-214" class="wpcf7-form-control wpcf7-select" aria-invalid="false"><option value="&lt;option value=&quot;1&quot;&gt;Chose Subject&lt;/option&gt;">&lt;option value=&quot;1&quot;&gt;Chose Subject&lt;/option&gt;</option><option value="&lt;option value=&quot;2&quot;&gt;Computer Engineering&lt;/option&gt;">&lt;option value=&quot;2&quot;&gt;Computer Engineering&lt;/option&gt;</option><option value="&lt;option value=&quot;4&quot;&gt;Accounting Technologies&lt;/option&gt;">&lt;option value=&quot;4&quot;&gt;Accounting Technologies&lt;/option&gt;</option><option value="&lt;option value=&quot;5&quot;&gt;Web Development&lt;/option&gt;">&lt;option value=&quot;5&quot;&gt;Web Development&lt;/option&gt;</option><option value="&lt;option value=&quot;6&quot;&gt;Machine Language&lt;/option&gt;">&lt;option value=&quot;6&quot;&gt;Machine Language&lt;/option&gt;</option></select></span>
        </div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
        <button class="btn-animation dark border" type="submit" name="submit" id="submit"><span>Get Estimate <i class="fas fa-angle-right"></i></span></button>
    </div>
</div>
<div class="wpcf7-response-output" aria-hidden="true"></div></form></div>                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                	                <!-- Shape -->
	                <div class="shape-bottom-center" style="background-image: url(../wp-content/uploads/2022/05/32.png);"></div>
	                <!-- Shape -->
            	            </div>
        </div>    
    </div>
    <!-- End Banner -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-36e3b92 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="36e3b92" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6c55fdd" data-id="6c55fdd" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-37d9484 elementor-widget elementor-widget-service" data-id="37d9484" data-element_type="widget" data-widget_type="service.default">
				<div class="elementor-widget-container">
			    <!-- Star Services Area Style Three
    ============================================= -->
    <div class="services-style-three-area relative text-center default-padding">
        <div class="container">
            <div class="row">
            		                <!-- Signle Item -->
	                <div class="services-style-three col-lg-4 col-md-6">
	                    <div class="style-three-item item ">
	                        <div class="shape" style="background-image: url(../wp-content/uploads/2022/05/21.png);"></div>
	                        <div class="thumb">
	                            	                            	                                <img src="../wp-content/uploads/2022/05/house.png" alt="Cleanu">
	                            	                        </div>
	                        <h4><a href="../kitchen-cleaning/index.html">Residential Cleaning</a></h4>
	                        <p>Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection.	                        </p>
	                    </div>
	                </div>
	                <!-- End Signle Item -->
                	                <!-- Signle Item -->
	                <div class="services-style-three col-lg-4 col-md-6">
	                    <div class="style-three-item item active">
	                        <div class="shape" style="background-image: url(../wp-content/uploads/2022/05/21.png);"></div>
	                        <div class="thumb">
	                            	                            	                                <img src="../wp-content/uploads/2022/05/cleaning-service.png" alt="Cleanu">
	                            	                        </div>
	                        <h4><a href="../kitchen-cleaning/index.html">Commercial Cleaning</a></h4>
	                        <p>Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection.	                        </p>
	                    </div>
	                </div>
	                <!-- End Signle Item -->
                	                <!-- Signle Item -->
	                <div class="services-style-three col-lg-4 col-md-6">
	                    <div class="style-three-item item ">
	                        <div class="shape" style="background-image: url(../wp-content/uploads/2022/05/21.png);"></div>
	                        <div class="thumb">
	                            	                            	                                <img src="../wp-content/uploads/2022/05/dry-cleaning.png" alt="Cleanu">
	                            	                        </div>
	                        <h4><a href="../kitchen-cleaning/index.html">Laundry and Dry Cleaning</a></h4>
	                        <p>Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection.	                        </p>
	                    </div>
	                </div>
	                <!-- End Signle Item -->
                            </div>
        </div>
                	<div class="shape-bottom" style="background-image: url(../wp-content/uploads/2022/05/33.png);"></div>
    	    </div>
    <!-- End Services Area Style Three -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ae760a0 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="ae760a0" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7f012ac" data-id="7f012ac" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-3ce9d4c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3ce9d4c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-36ad3a5" data-id="36ad3a5" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-799ba0a elementor-widget elementor-widget-about_image" data-id="799ba0a" data-element_type="widget" data-widget_type="about_image.default">
				<div class="elementor-widget-container">
			    	<div class="about-style-two">
            <div class="thumb">
                <img src="../wp-content/uploads/2022/05/11.jpg" alt="Cleanu">
                                	<img src="../wp-content/uploads/2022/05/12.jpg" alt="Cleanu">
                 
                	                <div class="fun-fact">
	                    <div class="counter">
	                        <div class="timer" data-to="50" data-speed="5000">50</div>
	                        <div class="operator">+</div>
	                    </div>
	                    <span class="medium">Team Member</span>
	                </div>
	                        </div>
        </div>
    		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-504e12b" data-id="504e12b" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-fba897e elementor-widget elementor-widget-about_content" data-id="fba897e" data-element_type="widget" data-widget_type="about_content.default">
				<div class="elementor-widget-container">
			    	<div class="about-style-three">
	        <h4 class="sub-heading">ABOUT CLEANING AGENCY</h4>
	        <h2 class="heading">We are committed to give<br>
our best services</h2>
	        <p>Friendly bachelor entrance to on by. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection.</p><ul><li>Service Monitoring</li><li>Fast Communication</li><li>Customer Support Live Chat</li><li>Information for Any Services</li></ul>	        	        	<a class="btn btn-theme primary effect btn-md" href="#">Contact Us</a>
	        	    </div>
    		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-990b231 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="990b231" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e92ad43" data-id="e92ad43" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-284d06b elementor-widget elementor-widget-team" data-id="284d06b" data-element_type="widget" data-widget_type="team.default">
				<div class="elementor-widget-container">
				 <!-- Start Team 
    ============================================= -->
    <div class="team-area">
    	        <div class="container">
                       <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>AWESOME TEAM</h4>
                    	                    	                        <h2>The best team to<br>
clean your surrounding area.</h2>
                                                <div class="devider"></div>
                                                <p>Our office cleaning division prides itself on delivering exceptionally high standards in all our cleaning contracts and we understand all our customer needs.</p>                        
                                            </div>
                </div>
            </div>
                    </div>
        <div class="container">
            <div class="team-style-one-box">
                <div class="row">
                    	                    <!-- Single Item -->
	                    <div class="col-lg-4 col-md-6 text-center team-style-one">
	                        <div class="item">
	                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/1-1.jpg" alt="Cleanu">
	                                <div class="social">
	                                    <input type="checkbox" id="toggle1" class="share-toggle" hidden>
	                                    <label for="toggle1" class="share-button">
	                                        <i class="fas fa-plus"></i>
	                                    </label>
	                                    		                                    <a href="http://www.facebook.com/" class="share-icon facebook">
		                                        <i class="fab fa-facebook-f"></i>
		                                    </a>
	                                		                                			                                    <a href="http://www.twitter.com/" class="share-icon twitter">
		                                        <i class="fab fa-twitter"></i>
		                                    </a>
	                                    	                                    	                                    		                                    <a href="http://www.linkedin.com/" class="share-icon linkedin">
		                                        <i class="fab fa-linkedin"></i>
		                                    </a>
	                                    	                                    	                                    	                                </div>
	                                	                                <!-- Shape -->
	                                <div class="shape" style="background-image: url(../wp-content/themes/cleanu/assets/img/team_2.png);"></div>
	                                <!-- End Shape -->
	                            		                            </div>
	                            <div class="info">
	                                <h4><a href="../team-details/index.html">Anna Green</a></h4>
	                                <p>
	                                    House Cleaner	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End Single Item -->
                		                    <!-- Single Item -->
	                    <div class="col-lg-4 col-md-6 text-center team-style-one">
	                        <div class="item">
	                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/2-1.jpg" alt="Cleanu">
	                                <div class="social">
	                                    <input type="checkbox" id="toggle2" class="share-toggle" hidden>
	                                    <label for="toggle2" class="share-button">
	                                        <i class="fas fa-plus"></i>
	                                    </label>
	                                    		                                    <a href="http://www.facebook.com/" class="share-icon facebook">
		                                        <i class="fab fa-facebook-f"></i>
		                                    </a>
	                                		                                			                                    <a href="http://www.twitter.com/" class="share-icon twitter">
		                                        <i class="fab fa-twitter"></i>
		                                    </a>
	                                    	                                    	                                    		                                    <a href="http://www.linkedin.com/" class="share-icon linkedin">
		                                        <i class="fab fa-linkedin"></i>
		                                    </a>
	                                    	                                    	                                    	                                </div>
	                                	                                <!-- Shape -->
	                                <div class="shape" style="background-image: url(../wp-content/themes/cleanu/assets/img/team_2.png);"></div>
	                                <!-- End Shape -->
	                            		                            </div>
	                            <div class="info">
	                                <h4><a href="../team-details/index.html">Thomas Pual</a></h4>
	                                <p>
	                                    Office Cleaner	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End Single Item -->
                		                    <!-- Single Item -->
	                    <div class="col-lg-4 col-md-6 text-center team-style-one">
	                        <div class="item">
	                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/3.jpg" alt="Cleanu">
	                                <div class="social">
	                                    <input type="checkbox" id="toggle3" class="share-toggle" hidden>
	                                    <label for="toggle3" class="share-button">
	                                        <i class="fas fa-plus"></i>
	                                    </label>
	                                    		                                    <a href="http://www.facebook.com/" class="share-icon facebook">
		                                        <i class="fab fa-facebook-f"></i>
		                                    </a>
	                                		                                			                                    <a href="http://www.twitter.com/" class="share-icon twitter">
		                                        <i class="fab fa-twitter"></i>
		                                    </a>
	                                    	                                    	                                    		                                    <a href="http://www.linkedin.com/" class="share-icon linkedin">
		                                        <i class="fab fa-linkedin"></i>
		                                    </a>
	                                    	                                    	                                    	                                </div>
	                                	                                <!-- Shape -->
	                                <div class="shape" style="background-image: url(../wp-content/themes/cleanu/assets/img/team_2.png);"></div>
	                                <!-- End Shape -->
	                            		                            </div>
	                            <div class="info">
	                                <h4><a href="../team-details/index.html">Liana Rob</a></h4>
	                                <p>
	                                    Carpet Cleaner	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End Single Item -->
                	                </div>
            </div>
        </div>
    </div>
    <!-- End Team-->

			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-2fc426c elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="2fc426c" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3fd8a06" data-id="3fd8a06" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-ca63ff7 elementor-widget elementor-widget-faq" data-id="ca63ff7" data-element_type="widget" data-widget_type="faq.default">
				<div class="elementor-widget-container">
				<!-- Star Faq
    ============================================= -->
    <div class="faq-area default-padding bg-cover" style="background-image: url(../wp-content/uploads/2022/05/3.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq-style-one">
                        <div class="faq-content">
                            <div class="accordion" id="accordionExample">
                            	
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                           How do I make a checklist for a cleaning service?                                        </h4>
                                    </div>

                                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <h5>Bedrooms, living areas and other rooms</h5><ol><li>Dust furniture tops, sides and fronts.</li><li>Vacuum and/or mop floors.</li><li>Clean glass surfaces and mirrors.</li><li>Wipe window sills and blinds.</li></ol>                                        </div>
                                    </div>
                                </div>
                            	
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                           How do you clean efficiently?                                        </h4>
                                    </div>

                                    <div id="collapse2" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <h5>Fast House Cleaning Tips</h5><ol><li>Clean the whole house, not one room at time</li><li>Gather all your cleaning tools in a caddy.</li><li>Clear the clutter.</li><li>Disinfect countertops and surface areas</li></ol>                                        </div>
                                    </div>
                                </div>
                            	
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                           What are the benefits of cleaning?                                        </h4>
                                    </div>

                                    <div id="collapse3" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <h5> Surprising Health Benefits of a Clean Home</h5><ol><li>It Keeps You Mentally Healthy</li><li>It Pests Keep Away.</li><li>The Home is Inviting.</li><li>Tips For Keeping Your Home Clean.</li></ol>                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Faq -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-e7ee53c elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="e7ee53c" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6113450" data-id="6113450" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-f1082cb elementor-widget elementor-widget-pricing" data-id="f1082cb" data-element_type="widget" data-widget_type="pricing.default">
				<div class="elementor-widget-container">
			    <!-- Start Pricing Area 
    ============================================= -->
    <div class="pricing-area shadow default-padding-top bottom-less">
    		        <!-- Fixed Shape -->
	        <div class="fixed-sahpe-bottom">
	           <img src="../wp-content/themes/cleanu/assets/img/pricing.png" alt="Cleanu">
	        </div>
	        <!-- End Fixed Shape -->
                        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>CLEANING PLANS</h4>
                    	                    	                        <h2>Take a look of our Pricing and<br>
select Your Choice</h2>
                                                <div class="devider"></div>
                                            </div>
                </div>
            </div>
        </div>
                <div class="container">
            <div class="pricing pricing-simple">
                <div class="row">
                		                    <div class="col-lg-6 col-md-6 pricing-style-two">
	                        <div class="pricing-item ">
	                                                            <i class="flaticon-cleaning-6"></i>
	                            	                            	                            <div class="pricing-header">
	                                <h4>Residential</h4>
	                            </div>
	                            <div class="price">
	                                <h2><sup>$</sup>20</h2>
	                                <p>
	                                    FOR HOMES	                                </p>
	                            </div>
	                            <ul><li><i class="fas fa-check-circle"></i> Profetional Cleaner</li><li><i class="fas fa-check-circle"></i> Windows Cleaning</li><li><i class="fas fa-check-circle"></i> Kitchen Cleaning</li><li><i class="fas fa-check-circle"></i> 2 Bathroom Cleaning</li><li><i class="fas fa-check-circle"></i> Roof Cleaning</li><li><i class="fas fa-check-circle"></i> Government Facilities</li></ul>	                            		                            <div class="button">
		                                <a class="btn btn-dark effect btn-sm" href="#">Book Now</a>
		                            </div>
	                            	                        </div>
	                    </div>
                    	                    <div class="col-lg-6 col-md-6 pricing-style-two">
	                        <div class="pricing-item active">
	                                                            <i class="flaticon-skyline"></i>
	                            	                            	                            <div class="pricing-header">
	                                <h4>Commercial</h4>
	                            </div>
	                            <div class="price">
	                                <h2><sup>$</sup>36</h2>
	                                <p>
	                                    FOR BUSINESS	                                </p>
	                            </div>
	                            <ul><li><i class="fas fa-check-circle"></i> Profetional Cleaner</li><li><i class="fas fa-check-circle"></i> Windows Cleaning</li><li><i class="fas fa-check-circle"></i> Kitchen Cleaning</li><li><i class="fas fa-check-circle"></i> 2 Bathroom Cleaning</li><li><i class="fas fa-check-circle"></i> Roof Cleaning</li><li><i class="fas fa-check-circle"></i> Government Facilities</li></ul>	                            		                            <div class="button">
		                                <a class="btn btn-theme secondary effect btn-sm" href="#">Book Now</a>
		                            </div>
	                            	                        </div>
	                    </div>
                                    </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Area -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-11e92f6 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="11e92f6" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9030da2" data-id="9030da2" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-f15ddce elementor-widget elementor-widget-projectwidget" data-id="f15ddce" data-element_type="widget" data-widget_type="projectwidget.default">
				<div class="elementor-widget-container">
			  	<!-- Start Project Area Style One
    ============================================= -->
    <div class="project-area overflow-hidden">
    	        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-5">
                    	                        <h5>SUCCESSFUL PROJECT</h5>
                                                                        <h2>
                            Keep your vision to our latest projects. 
                        </h2>
                                            </div>
                                        <div class="col-lg-6 offset-lg-1">
                        <p>Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection.</p>  
                    </div>
                                    </div>
            </div>
        </div>
                <div class="container">
            <div class="project-items-area">
                <div class="masonary">
                    <div id="portfolio-grid" class="gallery-items colums-3">
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/v1.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">Door Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/2-4.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">Garden Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/10.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">Bedroom Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/5-2.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">House Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/9-1.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">Furniture Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                                            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Projects Area Style One-->
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4fefbe8 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="4fefbe8" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9536d8c" data-id="9536d8c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-4ab1960 elementor-widget elementor-widget-contact" data-id="4ab1960" data-element_type="widget" data-widget_type="contact.default">
				<div class="elementor-widget-container">
			
    <!-- Start Contact Area 
    ============================================= -->
    <div id="contact" class="contact-area bg-theme text-light default-padding">
        <div class="container">
            <div class="contact-content">
                <div class="row">
                    <div class="col-lg-4 info">
                        <div class="content text-light text-center">
                        	                            <div class="thumb">
                               <img src="../wp-content/uploads/2022/04/4-1.png" alt="Cleanu">
                            </div>
                                                        <ul>
                                                                <li>
                                    		                            		                            	                                    <i class="fal fa-map-marker-alt"></i>
	                                                                    <p>22 Baker Street,<br />London, United Kingdom,<br />W1U 3BW</p>                                </li>
                                                                <li>
                                    		                            		                            	                                    <i class="fal fa-phone-alt"></i>
	                                                                    <p>+44-20-7328-4499<br />+99-34-8878-9989</p>                                </li>
                                 
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 contact-form-box">
                        <div class="form-box">
                            <h2>Leave Us A Message</h2>
                            <p>It&#039;s all about the humans behind a brand and those experiencing it, we&#039;re right there. In the middle performance quick.</p>                             <div role="form" class="wpcf7" id="wpcf7-f6-p2576-o2" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="https://themelocker.tech/cleanu/home-three/#wpcf7-f6-p2576-o2" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="6" />
<input type="hidden" name="_wpcf7_version" value="5.5.6" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6-p2576-o2" />
<input type="hidden" name="_wpcf7_container_post" value="2576" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="row">
<div class="col-lg-12">
<div class="form-group">
            <span class="wpcf7-form-control-wrap text-86"><input type="text" name="text-86" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="name" aria-required="true" aria-invalid="false" placeholder="Name" /></span>
        </div>
</div>
</div>
<div class="row">
<div class="col-lg-6">
<div class="form-group">
            <span class="wpcf7-form-control-wrap email-624"><input type="email" name="email-624" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="email" aria-required="true" aria-invalid="false" placeholder="Email*" /></span>
        </div>
</div>
<div class="col-lg-6">
<div class="form-group">
            <span class="wpcf7-form-control-wrap tel-136"><input type="tel" name="tel-136" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel form-control" id="phone" aria-invalid="false" placeholder="Phone" /></span>
        </div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="form-group comments">
            <span class="wpcf7-form-control-wrap textarea-102"><textarea name="textarea-102" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" id="comments" aria-required="true" aria-invalid="false" placeholder="Tell Us About Project *"></textarea></span>
        </div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
        <button type="submit" name="submit" id="submit">Send Message <i class="fa fa-paper-plane"></i></button>
    </div>
</div>
<div class="wpcf7-response-output" aria-hidden="true"></div></form></div>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-59341e0 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="59341e0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ed19411" data-id="ed19411" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-1e750f5 elementor-widget elementor-widget-blog" data-id="1e750f5" data-element_type="widget" data-widget_type="blog.default">
				<div class="elementor-widget-container">
				<!-- Start Blog 
    ============================================= -->
    <div class="blog-area grid-style">
        <div class="container">
        	            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>FROM THE BLOG</h4>
                    	                    	                        <h2>Latest News & Articles</h2>
                                                <div class="devider"></div>
                                            </div>
                </div>
            </div>
                    </div>
        <div class="container">
            <div class="blog-items">
                <div class="row">
                                        <!-- Single Itme -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                        		                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/v1-800x600.jpg" alt="Thumb">
	                            </div>
                                                        <div class="info">
                                <div class="meta">
                                   <ul>
									    <li>
									        <i class="fas fa-calendar-alt"></i>April 13, 2022									    </li>
									    <li>
									        <a href="../author/pulaknondi/index.html">
									            <i class="fas fa-user-circle"></i>
									            <span>pulaknondi</span>
									        </a>
									    </li>
									</ul>
                                </div>
                                <h4><a href="../overcame-breeding-or-my-concerns-removings/index.html">Overcame breeding point concerns has terminate</a></h4>
                                <p>
                                    Give lady of they such they sure it. Me contained explained my education. Vulgar as hearts                                </p>
                                <a href="../overcame-breeding-or-my-concerns-removings/index.html" class="btn-simple">Read More 		                            		                                                                    <i class="fas fa-plus"></i>
		                             </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Itme -->
                                        <!-- Single Itme -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                        		                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/v2-800x600.jpg" alt="Thumb">
	                            </div>
                                                        <div class="info">
                                <div class="meta">
                                   <ul>
									    <li>
									        <i class="fas fa-calendar-alt"></i>April 13, 2022									    </li>
									    <li>
									        <a href="../author/pulaknondi/index.html">
									            <i class="fas fa-user-circle"></i>
									            <span>pulaknondi</span>
									        </a>
									    </li>
									</ul>
                                </div>
                                <h4><a href="../minuter-him-own-clothes-but-observe-country/index.html">Minuter him own clothes but observe country.</a></h4>
                                <p>
                                    Give lady of they such they sure it. Me contained explained my education. Vulgar as hearts                                </p>
                                <a href="../minuter-him-own-clothes-but-observe-country/index.html" class="btn-simple">Read More 		                            		                                                                    <i class="fas fa-plus"></i>
		                             </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Itme -->
                                        <!-- Single Itme -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                        		                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/v3-800x600.jpg" alt="Thumb">
	                            </div>
                                                        <div class="info">
                                <div class="meta">
                                   <ul>
									    <li>
									        <i class="fas fa-calendar-alt"></i>April 13, 2022									    </li>
									    <li>
									        <a href="../author/pulaknondi/index.html">
									            <i class="fas fa-user-circle"></i>
									            <span>pulaknondi</span>
									        </a>
									    </li>
									</ul>
                                </div>
                                <h4><a href="../announcing-if-attachment-resolution-sentiments/index.html">Announcing if attachment resolution sentiments.</a></h4>
                                <p>
                                    Give lady of they such they sure it. Me contained explained my education. Vulgar as hearts                                </p>
                                <a href="../announcing-if-attachment-resolution-sentiments/index.html" class="btn-simple">Read More 		                            		                                                                    <i class="fas fa-plus"></i>
		                             </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Itme -->
                                    </div>
            </div>
        </div>
    </div>
    <!-- End Blog Area  -->
  	
    		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>

                    <%- include ('../partials/bottom') %>
                    <%- include ('../partials/footer') %>
