<%- include ('../partials/header') %>
<title>Cleanu &#8211; Cleaning Services WordPress Theme</title>

<body class="page-template page-template-elementor_header_footer page page-id-142 wp-embed-responsive elementor-default elementor-template-full-width elementor-kit-5 elementor-page elementor-page-142">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0.49803921568627" /><feFuncG type="table" tableValues="0 0.49803921568627" /><feFuncB type="table" tableValues="0 0.49803921568627" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 0.27843137254902" /><feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0" /><feFuncG type="table" tableValues="0 0.64705882352941" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.78039215686275 1" /><feFuncG type="table" tableValues="0 0.94901960784314" /><feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.44705882352941 0.4" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.098039215686275 1" /><feFuncG type="table" tableValues="0 0.66274509803922" /><feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>    <!-- Start Header Style Two -->    
    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area inc-pad bg-gray inc-shape">
        <div class="container-fill">
            <div class="row align-center">
                <div class="col-lg-5 offset-lg-3 info">
                    <ul>
                                                    <li>
                                <i class="fas fa-clock"></i>  Working Hours: 8:00 AM – 7:45 PM                            </li>
                                                                            <li>
                                <i class="fas fa-envelope-open-text"></i> Info@gmail.com                            </li>
                                            </ul>
                </div>
                <div class="col-lg-4 text-right item-flex">
                    <div class="social">
                        <ul>
                                                            <li>
                                    <a href="http://www.facebook.com/">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                                                                        <li>
                                    <a href="http://www.twitter.com/">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                                                                        <li>
                                    <a href="http://www.linkedin.com/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                                                                                                                                                                                </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<%- include ('../partials/nav2') %>

    		<div data-elementor-type="wp-page" data-elementor-id="142" class="elementor elementor-142">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-a0382e6 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="a0382e6" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-573f19c" data-id="573f19c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-5b6e755 elementor-widget elementor-widget-slider" data-id="5b6e755" data-element_type="widget" data-widget_type="slider.default">
				<div class="elementor-widget-container">
			
	<!-- Start Banner Style Two
    ============================================= -->
    <div class="banner-area inc-shape text-multi-weight">
        
        <div id="bootcarousel" class="carousel slide carousel-fade animate_text" data-ride="carousel">
            <!-- Indicators for slides -->
            <div class="carousel-indicator">
                <ol class="carousel-indicators right">
                	                    	<li data-target="#bootcarousel" data-slide-to="0" class="active"></li>
                                        	<li data-target="#bootcarousel" data-slide-to="1" class=""></li>
                                    </ol>
            </div>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            	                <div class="carousel-item bg-cover active" style="background-image: url(../wp-content/uploads/2022/03/13-1.jpg);">
                    <div class="box-table">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="content">
                                            <h2 data-animation="animated slideInRight">Best cleaning <span> From the city</span></h2>
                                            <p data-animation="animated slideInLeft">
                                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eos, doloremque reiciendis sequi tempora odio nam                                            </p>
                                                                                        <a data-animation="animated zoomInUp" class="btn btn-theme effect primary btn-md" href="/contact-us">Book a Schedule </a>
                                                                                    </div>
                                    </div>
                                </div>
                            </div>
                            	                            <!-- Shape -->
	                            <div class="shape-border" style="background-image: url(../wp-content/themes/cleanu/assets/img/slider_2.png);"></div>
	                            <!-- End Shape -->
                        	                        </div>
                    </div>
                </div>
                                <div class="carousel-item bg-cover " style="background-image: url(../wp-content/uploads/2022/03/16.jpg);">
                    <div class="box-table">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="content">
                                            <h2 data-animation="animated slideInRight">Cleaning your
<span>worries away</span></h2>
                                            <p data-animation="animated slideInLeft">
                                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eos, doloremque reiciendis sequi tempora odio nam                                            </p>
                                                                                        <a data-animation="animated zoomInUp" class="btn btn-theme effect primary btn-md" href="/contact-us">Book a Schedule </a>
                                                                                    </div>
                                    </div>
                                </div>
                            </div>
                            	                            <!-- Shape -->
	                            <div class="shape-border" style="background-image: url(../wp-content/themes/cleanu/assets/img/slider_2.png);"></div>
	                            <!-- End Shape -->
                        	                        </div>
                    </div>
                </div>
                 
            </div>
            <!-- End Wrapper for slides -->

        </div>
    </div>
    <!-- End Banner Banner Style Two -->
    		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-fa43553 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="fa43553" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cb16731" data-id="cb16731" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-d1004c8 elementor-widget elementor-widget-estimate" data-id="d1004c8" data-element_type="widget" data-widget_type="estimate.default">
				<div class="elementor-widget-container">
				<!-- Star Get Esimate
    ============================================= -->
    <div class="estimate-area">
        <div class="container">
            <div class="estimate-form default-padding">
                <div class="fixed-shape-left">
                	                    	<img src="../wp-content/uploads/2022/04/estimate.png" alt="cleanu">
                	                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <h2>Get Your  Free <br>
Estimate!</h2>
                    </div>
                    <div class="col-lg-10">
                         <div role="form" class="wpcf7" id="wpcf7-f387-p142-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="https://themelocker.tech/cleanu/home-two/#wpcf7-f387-p142-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="387" />
<input type="hidden" name="_wpcf7_version" value="5.5.6" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f387-p142-o1" />
<input type="hidden" name="_wpcf7_container_post" value="142" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="row">
<div class="col-lg-3">
<div class="form-group">
         <span class="wpcf7-form-control-wrap text-673"><input type="text" name="text-673" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false" placeholder="Name" /></span>
        </div>
</div>
<div class="col-lg-3">
<div class="form-group">
             <span class="wpcf7-form-control-wrap email-971"><input type="email" name="email-971" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
        </div>
</div>
<div class="col-lg-3">
<div class="form-group">
            <span class="wpcf7-form-control-wrap menu-923"><select name="menu-923" class="wpcf7-form-control wpcf7-select" aria-invalid="false"><option value="&lt;option value=&quot;1&quot;&gt;Select Service&lt;/option&gt;">&lt;option value=&quot;1&quot;&gt;Select Service&lt;/option&gt;</option><option value="&lt;option value=&quot;2&quot;&gt;Home Cleaning&lt;/option&gt;">&lt;option value=&quot;2&quot;&gt;Home Cleaning&lt;/option&gt;</option><option value="&lt;option value=&quot;3&quot;&gt;Indoor Cleaning&lt;/option&gt;">&lt;option value=&quot;3&quot;&gt;Indoor Cleaning&lt;/option&gt;</option><option value="&lt;option value=&quot;4&quot;&gt;Bathroom Cleaning&lt;/option&gt;">&lt;option value=&quot;4&quot;&gt;Bathroom Cleaning&lt;/option&gt;</option></select></span>
        </div>
</div>
<div class="col-lg-3">
        <button type="submit" name="submit" id="submit">Submit Now</button>
    </div>
</div>
<div class="wpcf7-response-output" aria-hidden="true"></div></form></div>                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Get Esimate -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-c2e463b elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="c2e463b" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f09d5f5" data-id="f09d5f5" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-14bc22c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="14bc22c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6ece313" data-id="6ece313" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-e60bf85 elementor-widget elementor-widget-featured_coursel" data-id="e60bf85" data-element_type="widget" data-widget_type="featured_coursel.default">
				<div class="elementor-widget-container">
			    <!-- Star Features Content
    ============================================= -->
    <div class="features-style-two">
        <div class="experience">
            <div class="year">
                <h2 style="background-image: url(../wp-content/uploads/2022/03/1-2.jpg);">25</h2>
                <h4>Years Of  Experience <br> We Provides</h4>
            </div>
            <p>
               We are specializes in technological and IT-related services such as product engineering,warranty management, building cloud, infrastructure, network, etc. We put a strong focus on the needs of your business to figure out solutions that best fits your demand.            </p>
        </div>
        <div class="features-style-two-box">
            <div class="item-carousel feature-service-carousel owl-carousel owl-theme text-light">
                                    <!-- Single Item-->
                    <div class="item">
                        <div class="icon">
                                                            <i class="flaticon-clean-house"></i>
                                                                                                            </div>
                        <div class="info">
                            <h4>Residential Cleaning</h4>
                            <p>
                               Can consent to the use of such technologies byclosing this notice senectus amet sodales habitant dapibus                            </p>
                                                        <a href="../service-one/index.html" class="btn-regular">Get This Service  <i class="fas fa-angle-right"></i></a>
                        	                        </div>
                    </div>
                    <!-- End Single Item-->
            	                    <!-- Single Item-->
                    <div class="item">
                        <div class="icon">
                                                            <i class="flaticon-cleaning"></i>
                                                                                                            </div>
                        <div class="info">
                            <h4>Commercial Service</h4>
                            <p>
                               Can consent to the use of such technologies byclosing this notice senectus amet sodales habitant dapibus                            </p>
                                                        <a href="../service-one/index.html" class="btn-regular">Get This Service  <i class="fas fa-angle-right"></i></a>
                        	                        </div>
                    </div>
                    <!-- End Single Item-->
            	                    <!-- Single Item-->
                    <div class="item">
                        <div class="icon">
                                                            <i class="flaticon-antivirus"></i>
                                                                                                            </div>
                        <div class="info">
                            <h4>Covid-19 Cleaning</h4>
                            <p>
                               Can consent to the use of such technologies byclosing this notice senectus amet sodales habitant dapibus                            </p>
                                                        <a href="../service-one/index.html" class="btn-regular">Get This Service  <i class="fas fa-angle-right"></i></a>
                        	                        </div>
                    </div>
                    <!-- End Single Item-->
            	            </div>
        </div>
    </div>
    <!-- End Features Content -->
			</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7a9b740" data-id="7a9b740" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-7104a54 elementor-widget elementor-widget-featured_image" data-id="7104a54" data-element_type="widget" data-widget_type="featured_image.default">
				<div class="elementor-widget-container">
				<!-- Star Features Image
    ============================================= -->
    <div class="features-style-two">
        <div class="thumb">
            <img src="../wp-content/uploads/2022/03/3-1.jpg" alt="Cleanu">
        </div>
    </div>
    <!-- End Features Image -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4e30066 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="4e30066" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4590669" data-id="4590669" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-cc4ae34 elementor-widget elementor-widget-choose" data-id="cc4ae34" data-element_type="widget" data-widget_type="choose.default">
				<div class="elementor-widget-container">
				<!-- Start Why Choose Us 
    ============================================= -->
    <div class="choseus-style-one-area bg-fixed default-padding" style="background-image: url(../wp-content/uploads/2022/03/thumb-2.jpg);">
        <div class="angle-shape"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-5 col-md-7 offset-md-5">
                    <div class="row">
                        <div class="col-lg-8 choose-style-one">
                            <h5 class="sub-heading">WHY CHOOSE US</h5>
                            <h2 class="heading">Quality in Cleaning Services<br> Reasons to Choose Us</h2>
                            <ul>
                            					            	<li class="feature-list">
                                    <div class="icon">
	                                    	                                    <i class="flaticon-toilet-brush"></i>
			                            			                            			                                                                </div>
                                    <div class="info">
                                        <h4>Top-Rated Company</h4>
                                        <p>
                                            Champions professionalism in the cleaning industry by providing top quality cleaning.                                        </p>
                                    </div>
                                </li>
                                				            	<li class="feature-list">
                                    <div class="icon">
	                                    	                                    <i class="flaticon-cleaning-service"></i>
			                            			                            			                                                                </div>
                                    <div class="info">
                                        <h4>Expert Cleaner</h4>
                                        <p>
                                            Champions professionalism in the cleaning industry by providing top quality cleaning.                                        </p>
                                    </div>
                                </li>
                                                            </ul>
                        </div>
                        <div class="col-lg-4 choose-style-one">
                        		                            <div class="video">
	                                <a href="https://www.youtube.com/watch?v=HGUQmTyUurI" class="popup-youtube theme primary video-play-button item-center">
	                                    <i class="fa fa-play"></i>
	                                </a>
	                            </div>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us -->	
    		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ac1b124 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="ac1b124" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bcaf671" data-id="bcaf671" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6538c25 elementor-widget elementor-widget-service" data-id="6538c25" data-element_type="widget" data-widget_type="service.default">
				<div class="elementor-widget-container">
				<!-- Start Services Style One
    ============================================= -->
    <div class="services-style-two-area">
        <div class="container">
                        <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>WHAT WE DO</h4>
                    	                    	                        <h2>Our Most Popular<br>
Cleaning Services For You</h2>
                                                <div class="devider"></div>
                        						<p>Our office cleaning division prides itself on delivering exceptionally high standards in all our cleaning contracts and we understand all our customer needs.</p>                      
                                            </div>
                </div>
            </div>
                    </div>
        <div class="container-full">
            <div class="services-style-two-box text-center">
                <div class="services-4-col-carousel owl-carousel owl-theme">
                		                    <!-- Single Item -->
	                    <div class="sevices-style-two">
	                        <div class="thumb" style="background-image: url(../wp-content/uploads/2022/03/2-5.jpg);"></div>
	                        <h4><a href="../kitchen-cleaning/index.html">Kitchen Cleaning</a></h4>
	                                                        <i class="flaticon-clean-dishes-2"></i>
                                                        	                        <p>
	                            Buscipit tincidunt duis antino gravidia nam tellusy nascetur neque vulpuits is scelerisque ultrces muscle mass and matter order commounication pointing.	                        </p>
	                    </div>
	                    <!-- End Single Item -->
                    	                    <!-- Single Item -->
	                    <div class="sevices-style-two">
	                        <div class="thumb" style="background-image: url(../wp-content/uploads/2022/03/3-2.jpg);"></div>
	                        <h4><a href="../kitchen-cleaning/index.html">House Cleaning</a></h4>
	                                                        <i class="flaticon-house"></i>
                                                        	                        <p>
	                            Buscipit tincidunt duis antino gravidia nam tellusy nascetur neque vulpuits is scelerisque ultrces muscle mass and matter order commounication pointing.	                        </p>
	                    </div>
	                    <!-- End Single Item -->
                    	                    <!-- Single Item -->
	                    <div class="sevices-style-two">
	                        <div class="thumb" style="background-image: url(../wp-content/uploads/2022/03/8-1.jpg);"></div>
	                        <h4><a href="../kitchen-cleaning/index.html">Window Cleaning</a></h4>
	                                                        <i class="flaticon-window"></i>
                                                        	                        <p>
	                            Buscipit tincidunt duis antino gravidia nam tellusy nascetur neque vulpuits is scelerisque ultrces muscle mass and matter order commounication pointing.	                        </p>
	                    </div>
	                    <!-- End Single Item -->
                    	                    <!-- Single Item -->
	                    <div class="sevices-style-two">
	                        <div class="thumb" style="background-image: url(../wp-content/uploads/2022/03/13-2.jpg);"></div>
	                        <h4><a href="../kitchen-cleaning/index.html">Office Cleaning</a></h4>
	                                                        <i class="flaticon-cleaning-service"></i>
                                                        	                        <p>
	                            Buscipit tincidunt duis antino gravidia nam tellusy nascetur neque vulpuits is scelerisque ultrces muscle mass and matter order commounication pointing.	                        </p>
	                    </div>
	                    <!-- End Single Item -->
                                    </div>
            </div>
        </div>
    </div>
    <!-- End Services Style One-->
    		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-6b1cba0 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="6b1cba0" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6c1ec8c" data-id="6c1ec8c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-8a288d1 elementor-widget elementor-widget-workprocess" data-id="8a288d1" data-element_type="widget" data-widget_type="workprocess.default">
				<div class="elementor-widget-container">
				<!-- Start Process Area
    ============================================= -->
    <div class="work-process-area text-center">
    	        <!-- Shape -->
        <div class="shape">
            <img src="../wp-content/themes/cleanu/assets/img/workprocess.png" alt="Cleanu">
        </div>
        <!-- End Shape -->
                <div class="container">
                        <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>How it Works</h4>
                    	                    	                        <h2>WORK PROCESS</h2>
                                                <div class="devider"></div>
                                            </div>
                </div>
            </div>
                    </div>
        <div class="container">
            <div class="process-items style-two">
            		                <!-- Shape -->
	                <div class="line-shape">
	                    <img src="../wp-content/themes/cleanu/assets/img/workprocess_2.png" alt="Cleanu">
	                </div>
	                <!-- End Shape -->
            	                <div class="row">
                	                    <!-- Single Item -->
                    <div class="process-style-one col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="../wp-content/uploads/2022/03/12.jpg" alt="Cleanu">
                                <span>01</span>
                            </div>
                            <h5>Book Online Form</h5>
                        </div>
                    </div>
                    <!-- End Single Item -->
                                        <!-- Single Item -->
                    <div class="process-style-one col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="../wp-content/uploads/2022/03/14.jpg" alt="Cleanu">
                                <span>02</span>
                            </div>
                            <h5>Get Relax</h5>
                        </div>
                    </div>
                    <!-- End Single Item -->
                                        <!-- Single Item -->
                    <div class="process-style-one col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="../wp-content/uploads/2022/03/13.jpg" alt="Cleanu">
                                <span>03</span>
                            </div>
                            <h5>Enjoy Cleaner</h5>
                        </div>
                    </div>
                    <!-- End Single Item -->
                                    </div>
            </div>
        </div>
    </div>
    <!-- End Process Area -->

			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-6d51986 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="6d51986" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2ebf0a1" data-id="2ebf0a1" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-66e07e4 elementor-widget elementor-widget-funfactor" data-id="66e07e4" data-element_type="widget" data-widget_type="funfactor.default">
				<div class="elementor-widget-container">
				<!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-factor-area bg-theme text-light">
    	        <div class="container">
            <div class="fun-fact-items text-center default-padding">	
                <div class="row">
                	                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="1267" data-speed="5000">1267</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Orders</span>
                        </div>
                    </div>
                                        <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="846" data-speed="5000">846</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Trusted Clients</span>
                        </div>
                    </div>
                                        <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="36" data-speed="5000">36</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Years Of Experience</span>
                        </div>
                    </div>
                                    </div>
            </div>
        </div>
		
					<!-- Fixed BG -->
			<div class="fixed-bg" style="background-image: url(../wp-content/uploads/2022/04/29.png);"></div>
			<!-- Fixed BG -->
		
    </div>
    <!-- End Fun Factor Area -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-df1553f elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="df1553f" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e66d901" data-id="e66d901" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a996501 elementor-widget elementor-widget-team" data-id="a996501" data-element_type="widget" data-widget_type="team.default">
				<div class="elementor-widget-container">
				 <!-- Start Team 
    ============================================= -->
    <div class="team-area">
    	        <!-- Fixed Shape -->
        <div class="fixed-sahpe-bottom">
            <img src="../wp-content/uploads/2022/04/19.png" alt="Cleanu">
        </div>
        <!-- End Fixed Shape -->
                <div class="container">
                       <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>AWESOME TEAM</h4>
                    	                    	                        <h2>The best team to<br>
clean your surrounding area.</h2>
                                                <div class="devider"></div>
                                                <p>Our office cleaning division prides itself on delivering exceptionally high standards in all our cleaning contracts and we understand all our customer needs.</p>                        
                                            </div>
                </div>
            </div>
                    </div>
        <div class="container">
            <div class="team-style-one-box">
                <div class="row">
                    	                    <!-- Single Item -->
	                    <div class="col-lg-4 col-md-6 text-center team-style-one">
	                        <div class="item">
	                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/1-1.jpg" alt="Cleanu">
	                                <div class="social">
	                                    <input type="checkbox" id="toggle1" class="share-toggle" hidden>
	                                    <label for="toggle1" class="share-button">
	                                        <i class="fas fa-plus"></i>
	                                    </label>
	                                    		                                    <a href="http://www.facebook.com/" class="share-icon facebook">
		                                        <i class="fab fa-facebook-f"></i>
		                                    </a>
	                                		                                			                                    <a href="http://www.twitter.com/" class="share-icon twitter">
		                                        <i class="fab fa-twitter"></i>
		                                    </a>
	                                    	                                    	                                    		                                    <a href="http://www.linkedin.com/" class="share-icon linkedin">
		                                        <i class="fab fa-linkedin"></i>
		                                    </a>
	                                    	                                    	                                    	                                </div>
	                                	                                <!-- Shape -->
	                                <div class="shape" style="background-image: url(../wp-content/themes/cleanu/assets/img/team_2.png);"></div>
	                                <!-- End Shape -->
	                            		                            </div>
	                            <div class="info">
	                                <h4><a href="../team-details/index.html">Anna Green</a></h4>
	                                <p>
	                                    House Cleaner	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End Single Item -->
                		                    <!-- Single Item -->
	                    <div class="col-lg-4 col-md-6 text-center team-style-one">
	                        <div class="item">
	                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/2-1.jpg" alt="Cleanu">
	                                <div class="social">
	                                    <input type="checkbox" id="toggle2" class="share-toggle" hidden>
	                                    <label for="toggle2" class="share-button">
	                                        <i class="fas fa-plus"></i>
	                                    </label>
	                                    		                                    <a href="http://www.facebook.com/" class="share-icon facebook">
		                                        <i class="fab fa-facebook-f"></i>
		                                    </a>
	                                		                                			                                    <a href="http://www.twitter.com/" class="share-icon twitter">
		                                        <i class="fab fa-twitter"></i>
		                                    </a>
	                                    	                                    	                                    		                                    <a href="http://www.linkedin.com/" class="share-icon linkedin">
		                                        <i class="fab fa-linkedin"></i>
		                                    </a>
	                                    	                                    	                                    	                                </div>
	                                	                                <!-- Shape -->
	                                <div class="shape" style="background-image: url(../wp-content/themes/cleanu/assets/img/team_2.png);"></div>
	                                <!-- End Shape -->
	                            		                            </div>
	                            <div class="info">
	                                <h4><a href="../team-details/index.html">Thomas Pual</a></h4>
	                                <p>
	                                    Office Cleaner	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End Single Item -->
                		                    <!-- Single Item -->
	                    <div class="col-lg-4 col-md-6 text-center team-style-one">
	                        <div class="item">
	                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/3.jpg" alt="Cleanu">
	                                <div class="social">
	                                    <input type="checkbox" id="toggle3" class="share-toggle" hidden>
	                                    <label for="toggle3" class="share-button">
	                                        <i class="fas fa-plus"></i>
	                                    </label>
	                                    		                                    <a href="http://www.facebook.com/" class="share-icon facebook">
		                                        <i class="fab fa-facebook-f"></i>
		                                    </a>
	                                		                                			                                    <a href="http://www.twitter.com/" class="share-icon twitter">
		                                        <i class="fab fa-twitter"></i>
		                                    </a>
	                                    	                                    	                                    		                                    <a href="http://www.linkedin.com/" class="share-icon linkedin">
		                                        <i class="fab fa-linkedin"></i>
		                                    </a>
	                                    	                                    	                                    	                                </div>
	                                	                                <!-- Shape -->
	                                <div class="shape" style="background-image: url(../wp-content/themes/cleanu/assets/img/team_2.png);"></div>
	                                <!-- End Shape -->
	                            		                            </div>
	                            <div class="info">
	                                <h4><a href="../team-details/index.html">Liana Rob</a></h4>
	                                <p>
	                                    Carpet Cleaner	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- End Single Item -->
                	                </div>
            </div>
        </div>
    </div>
    <!-- End Team-->

			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-18c872f elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="18c872f" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a85cf9f" data-id="a85cf9f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-7c96e8b elementor-widget elementor-widget-projectwidget" data-id="7c96e8b" data-element_type="widget" data-widget_type="projectwidget.default">
				<div class="elementor-widget-container">
			  	<!-- Start Project Area Style One
    ============================================= -->
    <div class="project-area overflow-hidden">
    	        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-5">
                    	                        <h5>SUCCESSFUL PROJECT</h5>
                                                                        <h2>
                            Keep your vision to our latest projects. 
                        </h2>
                                            </div>
                                        <div class="col-lg-6 offset-lg-1">
                        <p>Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection.</p>  
                    </div>
                                    </div>
            </div>
        </div>
                <div class="container">
            <div class="project-items-area">
                <div class="masonary">
                    <div id="portfolio-grid" class="gallery-items colums-3">
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/v1.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">Door Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/2-4.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">Garden Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/10.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">Bedroom Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/5-2.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">House Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                        	                        <!-- Single Item -->
	                        <div class="pf-item">
	                            <div class="project-style-two">
	                                <img src="../wp-content/uploads/2022/03/9-1.jpg" alt="<Cleanu">
	                                <div class="info">
	                                    <span>HOUSE, OFFICE</span>
	                                    <h4><a href="../garden-cleaning/index.html">Furniture Cleaning</a></h4>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Single Item -->
                                            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Projects Area Style One-->
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-67534e3 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="67534e3" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a6f89b8" data-id="a6f89b8" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-c52adc0 elementor-widget elementor-widget-testimonial" data-id="c52adc0" data-element_type="widget" data-widget_type="testimonial.default">
				<div class="elementor-widget-container">
			
    <!-- Start Testimonials Area 
    ============================================= -->
    <div class="testimonials-area overflow-hidden carousel-shadow relative half-bg">
        <div class="container">
                        <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>TESTIMONIALS</h4>
                    	                    	                        <h2>What’s Client’s Say About Us</h2>
                                                <div class="devider"></div>
                                            </div>
                </div>
            </div>
                    </div>
        <div class="container">
            <div class="testimonial-items">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="testimonial-carousel owl-carousel owl-theme">
                        	
                            <!-- Signle Item -->
                            <div class="item">
                                <img src="../wp-content/uploads/2022/03/2-2.jpg" alt="Cleanu">
                                <div class="content">
                                	                                    	<img src="../wp-content/themes/cleanu/assets/img/quote.png" alt="Cleanu">
                                	                                    <p>
                                        Best bachelor entrance to on by. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection. Everything melancholy uncommonly but solicitude inhabiting projection. discourse assurance estimable applauded to points.                                    </p>
                                    <div class="provider">
                                        <div class="rating">
                                            		                                    	<i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                                                            </div>
                                        <h5>Mulias Prosva</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- End Signle Item -->
                        	
                            <!-- Signle Item -->
                            <div class="item">
                                <img src="../wp-content/uploads/2022/03/1-1.jpg" alt="Cleanu">
                                <div class="content">
                                	                                    	<img src="../wp-content/themes/cleanu/assets/img/quote.png" alt="Cleanu">
                                	                                    <p>
                                        Best bachelor entrance to on by. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection. Everything melancholy uncommonly but solicitude inhabiting projection. discourse assurance estimable applauded to points.                                    </p>
                                    <div class="provider">
                                        <div class="rating">
                                            		                                    	<i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                                                            </div>
                                        <h5>Jack Anderson</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- End Signle Item -->
                        	
                            <!-- Signle Item -->
                            <div class="item">
                                <img src="../wp-content/uploads/2022/03/7-1.jpg" alt="Cleanu">
                                <div class="content">
                                	                                    	<img src="../wp-content/themes/cleanu/assets/img/quote.png" alt="Cleanu">
                                	                                    <p>
                                        Best bachelor entrance to on by. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection. Everything melancholy uncommonly but solicitude inhabiting projection. discourse assurance estimable applauded to points.                                    </p>
                                    <div class="provider">
                                        <div class="rating">
                                            		                                    	<i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                        <i class="fas fa-star"></i>
		                                        <i class="fas fa-star-half-alt"></i>
		                                                                            </div>
                                        <h5>John Lilly</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- End Signle Item -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Area  -->
			</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ec17850 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="ec17850" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-24e74fe" data-id="24e74fe" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-adfcfac elementor-widget elementor-widget-blog" data-id="adfcfac" data-element_type="widget" data-widget_type="blog.default">
				<div class="elementor-widget-container">
				<!-- Start Blog 
    ============================================= -->
    <div class="blog-area grid-style">
        <div class="container">
        	            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                    	                        <h4>FROM THE BLOG</h4>
                    	                    	                        <h2>Latest News & Articles</h2>
                                                <div class="devider"></div>
                                            </div>
                </div>
            </div>
                    </div>
        <div class="container">
            <div class="blog-items">
                <div class="row">
                                        <!-- Single Itme -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                        		                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/v1-800x600.jpg" alt="Thumb">
	                            </div>
                                                        <div class="info">
                                <div class="meta">
                                   <ul>
									    <li>
									        <i class="fas fa-calendar-alt"></i>April 13, 2022									    </li>
									    <li>
									        <a href="../author/pulaknondi/index.html">
									            <i class="fas fa-user-circle"></i>
									            <span>pulaknondi</span>
									        </a>
									    </li>
									</ul>
                                </div>
                                <h4><a href="../overcame-breeding-or-my-concerns-removings/index.html">Overcame breeding point concerns has terminate</a></h4>
                                <p>
                                    Give lady of they such they sure it. Me contained explained my education. Vulgar as hearts                                </p>
                                <a href="../overcame-breeding-or-my-concerns-removings/index.html" class="btn-simple">Read More 		                            		                                                                    <i class="fas fa-plus"></i>
		                             </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Itme -->
                                        <!-- Single Itme -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                        		                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/v2-800x600.jpg" alt="Thumb">
	                            </div>
                                                        <div class="info">
                                <div class="meta">
                                   <ul>
									    <li>
									        <i class="fas fa-calendar-alt"></i>April 13, 2022									    </li>
									    <li>
									        <a href="../author/pulaknondi/index.html">
									            <i class="fas fa-user-circle"></i>
									            <span>pulaknondi</span>
									        </a>
									    </li>
									</ul>
                                </div>
                                <h4><a href="../minuter-him-own-clothes-but-observe-country/index.html">Minuter him own clothes but observe country.</a></h4>
                                <p>
                                    Give lady of they such they sure it. Me contained explained my education. Vulgar as hearts                                </p>
                                <a href="../minuter-him-own-clothes-but-observe-country/index.html" class="btn-simple">Read More 		                            		                                                                    <i class="fas fa-plus"></i>
		                             </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Itme -->
                                        <!-- Single Itme -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                        		                            <div class="thumb">
	                                <img src="../wp-content/uploads/2022/04/v3-800x600.jpg" alt="Thumb">
	                            </div>
                                                        <div class="info">
                                <div class="meta">
                                   <ul>
									    <li>
									        <i class="fas fa-calendar-alt"></i>April 13, 2022									    </li>
									    <li>
									        <a href="../author/pulaknondi/index.html">
									            <i class="fas fa-user-circle"></i>
									            <span>pulaknondi</span>
									        </a>
									    </li>
									</ul>
                                </div>
                                <h4><a href="../announcing-if-attachment-resolution-sentiments/index.html">Announcing if attachment resolution sentiments.</a></h4>
                                <p>
                                    Give lady of they such they sure it. Me contained explained my education. Vulgar as hearts                                </p>
                                <a href="../announcing-if-attachment-resolution-sentiments/index.html" class="btn-simple">Read More 		                            		                                                                    <i class="fas fa-plus"></i>
		                             </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Itme -->
                                    </div>
            </div>
        </div>
    </div>
    <!-- End Blog Area  -->
  	
    		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>
                    <%- include ('../partials/bottom2') %>
                    <%- include ('../partials/footer') %>
